 <%= provide(:title, "トップページ") %> 

  <div class="top-container">
    <div class="skeleton">
    <h1>
      色んなタイプのマッチョがあなたを待っています。画像は変更予定。
    </h1>
    </div>
  </div>
  <div class="about-container">
  <h2>レンタルマッチョとは</h2>
  <p>
  当サイトはマッチョとして登録することで鍛えてきた体を副業にすることができます。
  色んな系統のマッチョがいるので自分の好みのパートナーを選ぶことができます。
  初めての方はaboutページにて、詳しい説明をご覧ください。</p>
  </div>

  <div class="usecase-container">
  <h2>ご利用例</h2>
  <p>たくましい男性とデートをしたい。
  マッチョが好きで、話してみたいけどなかなか勇気がでない...
  そんな時にマッチョ代行サービスを使えば気楽にお話をすることができます。何かimage入れる</p>

  <p>筋トレのやり方を教えて欲しい。
  走ったりはしているが体も鍛えたい。でも器具の使い方が分からず、聞きにくい...
  自分の理想に合った体型の人と話すことで適したトレーニング方法を知ることができます。何かimage入れる</p>
  </div>

  <div class="popular-container">
  <h2>人気ユーザ</h2>
  <p>一位　００　写真　リンク付き　第3位まで　横一列で</p>
  </div>

  <question-container>
  <h2>Q&A</h2>
  <h3>Q 自宅に来てもらうことはできますか？</h3>
  <p>申し訳ございません。安全上の理由から自宅や個室、車での移動はお断りさせていただいております。など</p>

