@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body {
     font-family: 'Noto Sans JP', sans-serif!important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
/* forms */

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}

// max-width = 767px
@media (max-width: 767px) {
  .nav-item-extend {
    margin-top: 0.6rem;
  }

  .log-title {
    padding: 0;
  }

  .log-list {
    border-left: 1px solid darkgray;
  }
}

@media (min-width: 768px) {
  .log-timestamp-inline {
    visibility: hidden;
  }
}

// logs
ol {
  padding: 0;
  list-style: none;
}

.log-title {
  margin: 1.5rem 0;
  text-align: center;
}

.log-list {
  margin-bottom: 1rem;

  .log-timestamp {
    color: gray;
  }

  .log-timestamp-block {
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 0.1rem;
    border-right: 1px solid darkgray;
  }

  .col-log-contents {
    padding: 0 1rem 0 1rem;

    .log-edit {
      .log-time {
        font-size: 1.2rem;
        color: yellow;
      }

      .log-timestamp-inline {
        text-align: right;    
        margin-top: 0.1rem;
        padding: 0;
      }

      .log-edit {
        text-align: right;
        margin-top: 0.1rem;

        .log-edit-image {
          width: 1rem;
        }
      }
    }

    .log-content {
    }

    .log-image {
    }
  }
}

// paginate
.pagination {
  margin-top: 1.6rem;
}