<header>
    <div class="l-header">
        <i class="fas fa-dumbbell fa-3x"></i>
        <h1>レンタルマッチョ</h1>
    </div>
    <ul class="r-header">
    <li><%= link_to "about", about_path %></li>
    <li><a href="#">マッチョ一覧</a></li>
    <li><%= link_to "新規登録", signup_path %></li>
    <li><%= link_to "ログイン", login_path %></li>
    <li><a href="#">ゲストログイン</a></li>
    <li><a href="#">管理ユーザ簡単ログイン</a></li>
    </ul>
</header>